/* Globales */

:root {
     --blanco: rgb(240, 240, 240);
     --gris: rgb(231, 231, 231);
     --gris-oscuro: rgb(138, 138, 138);
     --negro: rgb(20, 20, 20);
     --principal: rgb(40, 124, 219);
     --principal-oscuro: rgb(36, 98, 170);
     --secundario: rgb(223, 49, 49);
     --secundario-socuro: rgb(180, 39, 39);
     --sombra: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

* {
     color: var(--negro);
     font-family: 'Source Sans Pro', sans-serif;
}

body {
     background-color: var(--gris);
     margin: 0;
}

button {
     padding: 15px 20px;
     background-color: var(--principal);
     font-size: 20px;
     border: none;
     border-radius: 10px;
     color: var(--blanco);
     cursor: pointer;
     width: fit-content;
}

button:hover {
     background-color: var(--principal-oscuro);
}

.button-red {
     background-color: var(--secundario);
} 
.button-red:hover {
     background-color: var(--secundario-socuro);
}

.button-small {
     padding: 10px;
     font-size: 18px;
}

h1, h2, h3, h4, p {
     margin: 0;
}

.texto-secundario {
     color: var(--gris-oscuro);
     font-size: 16px;
}

/* Cabecera */

header {
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     align-items: center;
     box-shadow: var(--sombra);
     height: 80px;
     background-color: var(--blanco);
}

.mi-github:hover {
     color: var(--principal);
}

.titulo-principal {
     font-size: 38px;
     font-weight: 600;
     margin: auto 0;
}

.temas-colores {
     display: flex;
     flex-direction: row;
     gap: 10px;
}

.temas-colores div {
     width: 20px;
     height: 20px;
     border-radius: 100%;
     cursor: pointer;
}

div#rojo {
     background-color: var(--secundario);
}
div#azul {
     background-color: var(--principal);
}
div#verde {
     background-color: #4dbe43;
}
div#amarillo {
     background-color: #e7e543;
}
div#morado {
     background-color: #8743be;
}
div#oscuro {
     background-color: var(--negro);
}
div#default {
     background-color: var(--blanco);
     width: 19px;
     height: 19px;
     border: 1px solid var(--negro);
}

/* Contenido Section */

section {
     width: 60%;
     margin: 0 auto;
     padding-top: 40px;
     display: flex;
     gap: 20px;
}

section>* {
     flex: 1;
}

section input {
     border: none;
     border-radius: 15px;
     padding: 15px;
     font-size: 18px;
}

section input:focus {
     outline: none;
     box-shadow: var(--sombra);
}

section button {
     min-width: fit-content;
     flex: 0;
}

/* Contenido Main */

main {
     width: 90%;
     margin: 0 auto;
     margin-bottom: 40px;
     padding-top: 40px;
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     gap: 30px;
}

.contenedor {
     min-width: 350px;
     flex: 1;
}

/* Contenedor */

.contenedor {
     background-color: var(--blanco);
     border-radius: 15px;
     box-shadow: var(--sombra);
     padding: 20px;

     display: flex;
     flex-direction: column;
     gap: 20px;

     height: fit-content;
}

.contenedor h3 {
     font-size: 32px;
}

/* Lista de tareas */

.lista-tareas {
     display: flex;
     flex-direction: column;
     gap: 12px;
     max-width: 100%;
}

.lista-tareas .tarea+.tarea {
     border-top: 1px solid rgba(138, 138, 138, .4);
     padding-top: 12px;
}

/* Tarea */

.tarea {
     display: flex;
     flex-direction: row;
     align-items: center;
}

.tarea .nombre-tarea {
     flex: 1;
     overflow: hidden;
     word-wrap: break-word;
}

.tarea button {
     margin-left: 15px;
}

/* Media Queries */

@media (max-width: 768px) {
     section {
          flex-direction: column;
          min-width: 90%;
     }
     .contenedor {
          min-width: 90%;
     }
}