/* Globales */

:root {
     --fondo-principal: rgb(242, 242, 242);
     --fondo-secundario: rgb(231, 231, 231);
     --fuente-secundaria: rgb(138, 138, 138);
     --fuente-principal: rgb(20, 20, 20);
     --botones-principal: rgb(40, 124, 219);
     --botones-principal-oscuro: rgb(36, 98, 170);
     --botones-secundario: rgb(223, 49, 49);
     --botones-secundario-oscuro: rgb(180, 39, 39);
     --sombra: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

* {
     color: var(--fuente-principal);
     font-family: 'Source Sans Pro', sans-serif;
}

body {
     background-color: var(--fondo-secundario);
     margin: 0;
}

button {
     padding: 15px 20px;
     background-color: var(--botones-principal);
     font-size: 20px;
     border: none;
     border-radius: 10px;
     color: var(--fondo-principal);
     cursor: pointer;
     width: fit-content;
}

button:hover {
     background-color: var(--principal-oscuro);
}

.button-red {
     background-color: var(--botones-secundario);
} 
.button-red:hover {
     background-color: var(--botones-secundario-socuro);
}

.button-small {
     padding: 10px;
     font-size: 18px;
}

h1, h2, h3, h4, p {
     margin: 0;
}

.texto-secundario {
     color: var(--fuente-secundaria);
     font-size: 16px;
}

/* Cabecera */

header {
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     align-items: center;
     box-shadow: var(--sombra);
     height: 80px;
     background-color: var(--fondo-principal);
}

.mi-github:hover {
     color: var(--botones-principal);
}

.titulo-principal {
     font-size: 38px;
     font-weight: 600;
     margin: auto 0;
}

.temas-colores {
     display: flex;
     flex-direction: row;
     gap: 10px;
}

.temas-colores div {
     width: 19px;
     height: 19px;
     border-radius: 100%;
     cursor: pointer;
}
div#amarillo {
     background-color: #e7e543;
     border: 1px solid #141414;
}
div#oscuro {
     background-color: #141414;
     border: 1px solid #F0F0F0;
}
div#morado {
     background-color: #9A5BBC;
     border: 1px solid #141414;
}
div#default {
     background-color: #F0F0F0;
     border: 1px solid #141414;
}

/* Contenido Section */

section {
     width: 60%;
     margin: 0 auto;
     padding-top: 40px;
     display: flex;
     gap: 20px;
}

section>* {
     flex: 1;
}

section input {
     border: none;
     border-radius: 15px;
     padding: 15px;
     font-size: 18px;
     background-color: var(--fondo-principal);
}

section input:focus {
     outline: none;
     box-shadow: var(--sombra);
}

section button {
     min-width: fit-content;
     flex: 0;
}

/* Contenido Main */

main {
     width: 90%;
     margin: 0 auto;
     margin-bottom: 40px;
     padding-top: 40px;
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     gap: 30px;
}

.contenedor {
     min-width: 350px;
     flex: 1;
}

/* Contenedor */

.contenedor {
     background-color: var(--fondo-principal);
     border-radius: 15px;
     box-shadow: var(--sombra);
     padding: 20px;

     display: flex;
     flex-direction: column;
     gap: 20px;

     height: fit-content;
}

.contenedor h3 {
     font-size: 32px;
}

/* Lista de tareas */

.lista-tareas {
     display: flex;
     flex-direction: column;
     gap: 12px;
     max-width: 100%;
}

.lista-tareas .tarea+.tarea {
     border-top: 1px solid rgba(138, 138, 138, .4);
     padding-top: 12px;
}

/* Tarea */

.tarea {
     display: flex;
     flex-direction: row;
     align-items: center;
}

.tarea .nombre-tarea {
     flex: 1;
     overflow: hidden;
     word-wrap: break-word;
}

.tarea .imagen-reloj {
     mix-blend-mode: exclusion;
}

.tarea button {
     margin-left: 15px;
}

/* Media Queries */

@media (max-width: 768px) {
     section {
          flex-direction: column;
          min-width: 90%;
     }
     .contenedor {
          min-width: 90%;
     }
     header {
          flex-direction: column;
          height: fit-content;
          gap: 30px;
          padding: 30px;
     }
}
